@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #13131a;
  --secondary: #1c1c24;
}
html,
body {
  background-color: var(--primary) !important;
}

/* Disable touch highlighting for all elements */

* {
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  -webkit-touch-callout: none; /* Disable callout, iOS long-press menu */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Disable text selection on all elements */
}

/* Disable touch highlighting for all elements */

/* scroll-bar 28, 28, 36*/

*::-webkit-scrollbar {
  width: 17px;
}
*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

/* scroll-bar*/

/* loading */
.loader {
  width: 68px;
  height: 68px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #86efac transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loading */

/* skeleton */
.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: theme("colors.gray.300");
  }
  100% {
    background-color: theme("colors.gray.500");
  }
}
/* skeleton */

/* search button*/
.search-colour {
  animation: search-loading 1s linear infinite alternate;
}

@keyframes search-loading {
  0% {
    background-color: theme("colors.green.300");
  }
  100% {
    background-color: theme("colors.green.500");
  }
}
/* search button*/

/*sweetAlert custom*/

.bordered-alert {
  border: 1px solid #fff !important;
}

/*sweetAlert custom*/

.select_header {
  @apply font-epilogue font-bold sm:font-semibold text-[20px] text-green-300 text-left;
}

/* admin  button and input*/
.btn_table {
  @apply btn btn-xs sm:btn-sm border border-transparent font-semibold text-white bg-gray-700 hover:bg-gray-600  transition-all;
}

.btn_form {
  @apply inline-flex justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2;
}

.input_form {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1;
}

.label_form {
  @apply text-gray-900 text-sm font-medium;
}
/* admin table button and input*/

/*login page button*/
.btn_loginFormSecondary {
  @apply flex items-center px-5 py-2 text-sm text-white transition-colors duration-200 bg-[#1c1c24] border rounded-lg gap-x-2 sm:w-auto;
}
.btn_loginFormPrimary {
  @apply btn bg-[#32CD32] hover:bg-green-500 min-w-[75%] text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}

.input_loinForm {
  @apply border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}

.label_loinForm {
  @apply block mb-2 text-sm font-medium md:font-semibold text-white;
}
/*login page button*/

.btn_sidebar {
  @apply flex items-center px-4 py-2 transition-colors duration-300 transform rounded-lg text-gray-400 hover:bg-gray-800 hover:text-gray-200;
}

.social-icon {
  @apply w-6 md:w-4 hover:text-white;
}



/*menu*/


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up full viewport height */
}

.content {
  flex: 1; /* Make the content take up available space */
  padding: 20px;
}

.menu {
  position: fixed; /* Fix the menu to the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Or your desired background */
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for visual separation */
  z-index: 10; /* Ensure the menu is above the content */
  transition: transform 0.3s ease; /* Smooth transition for sticky behavior */
}

.sticky {
  transform: translateY(0); /* Adjust position if needed */
}

.menuList {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Evenly space menu items */
  padding: 0;
  margin: 0;
}

.menuItem {
  flex: 1;
  text-align: center;
}

.menuLink {
  text-decoration: none;
  color: #333; /* Adjust color as needed */
  font-weight: bold;
  padding: 10px;
  display: block;
}

/*menu*/



.navigation {
  @apply w-[400px] h-[70px] relative flex justify-center items-center rounded-[10px];
  background: #fff;
}
.navigation ul {
  @apply flex w-[350px];
}
.navigation ul li {
  @apply relative w-[70px] h-[70px] z-[1];
  list-style: none;
}
.navigation ul li a {
  @apply relative flex justify-center items-center flex-col w-full text-center font-medium;
}
.navigation ul li a .icon {
  @apply relative block leading-[75px] text-[1.5em] text-center transition-[0.5s] text-[color:var(--clr)];
}
.navigation ul li.active a .icon {
  @apply -translate-y-8;
}
.navigation ul li a .text {
  @apply absolute text-[color:var(--clr)] font-normal text-[0.75em] tracking-wider transition-[0.05s] opacity-0;
}
.navigation ul li.active a .text {
  @apply opacity-100 translate-y-2.5;
}
.indicator {
  @apply absolute w-[70px] h-[70px] border-[color:var(--clr)] transition-[0.5s] rounded-[50%] border-[6px] border-solid -top-2/4 before:content-[''] before:absolute before:left-[-22px] before:w-5 before:h-5 before:shadow-[0px_-10px_0_0_var(--clr)] before:rounded-tr-[20px] before:top-2/4 after:content-[''] after:absolute after:right-[-22px] after:w-5 after:h-5 after:shadow-[0px_-10px_0_0_var(--clr)] after:rounded-tl-[20px] after:top-2/4;
  background: #29fd53;
}
.indicator::before {
  background: transparent;
}
.indicator::after {
  background: transparent;
}
.navigation ul li:nth-child(1).active ~ .indicator {
  @apply translate-x-[calc(70px_*_0];
}
.navigation ul li:nth-child(2).active ~ .indicator {
  @apply translate-x-[calc(70px_*_1];
}
.navigation ul li:nth-child(3).active ~ .indicator {
  @apply translate-x-[calc(70px_*_2];
}
.navigation ul li:nth-child(4).active ~ .indicator {
  @apply translate-x-[calc(70px_*_3];
}
.navigation ul li:nth-child(5).active ~ .indicator {
  @apply translate-x-[calc(70px_*_4];
}
